.contMain{  
    background-color: #E0E1DD;
    margin: 0vh !important;
    .imgTitle{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 10vh;
        h1{
            background-color: white;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .imgProgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;    
        padding-top: 10vh;
        .imageContainer {
            position: relative;
            display: inline-block;
            img {
                display: block;
                width: 350px;
                height: 400px;
                transition: opacity 0.3s ease;
                &:hover{
                    opacity: 0.7;
                }
            }
            .title {
                position: absolute;
                bottom: 10px;
                left: 10px; 
                color: white;
                font-size: 18px; 
                transition: transform 0.3s ease;
                transform: translateY(0%);
                z-index: 2;
                
            }
            .description {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                color: white;
                font-size: 16px;
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 2;
            }    
            &:hover{
                .description {
                    opacity: 2;
                }
                .title {
                    transform: translateY(-400%);
                }
                &:before{
                    opacity: 2;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5); 
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 1;
            }
        }
    }
    .textProg{
        width: 100%;
        .formtText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10vh;
            h2{
                margin-bottom: 5vh;
                background-color: white;
                border-radius: 5px;
                width: 80%;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            p{
                text-align: center;
                width: 80%;
            }
        }
    }
    .border{
        margin-right: 20vh;
        margin-left: 20vh;
        margin-top: 10vh;
        width: 80%;
    }
}  
@media screen and (max-width: 320px){
    .contMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .imgProgs{
            display: flex;
            flex-direction: column;
            .imageContainer {
                img {
                    display: block;
                    width: 300px;
                    height: 400px;
                    transition: opacity 0.3s ease
                }
            }
        }
        .border{
            margin-right: 5vh;
            margin-left: 5vh;
            width: 80%;
        }
        .textProg{
            .formtText{
                h2{
                    font-size: 20px;
                    width: 80%;
                }
            }
        }
    }
}   
